{% extends "base.html" %} {% load static %} {% block style %} {{ block.super }}
<link href="{% static 'css/editor.css' %}" rel="stylesheet" type="text/css" />
{% endblock %} {% block body %}
<!--create project modal-->
<div
    class="modal fade"
    id="createProject"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-body">
                <form action="" method="POST" class="d-flex flex-column">
                    {% csrf_token %} {{form}} <br />
                    <button class="btn btn-primary rounded-3" type="submit">
                        Create
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--settings modal-->
{% include "settings.html" %}
<!--project overview-->
<div
    class="d-flex flex-column w-100 justify-content-between align-items-center vh-100 gap-2"
>
    <div class="p-2 pt-3">
        <h1 style="font-size: 3rem; font-weight: 900">My projects</h1>
    </div>
    <div
        class="p-1 d-flex flex-column gap-2 w-100 justify-conten-center align-items-center"
    >
        <button
            class="btn btn-outline-primary rounded-4 fw-bolder fs-5"
            data-bs-toggle="modal"
            data-bs-target="#createProject"
        >
            <i class="bi bi-plus-lg"></i>New Project
        </button>
        <div class="w-100 d-flex justify-content-center gap-4"></div>
    </div>
    <div class="d-flex flex-column gap-2 overflow-auto px-2 mt-3">
        <div
            class="form-check form-switch position-absolute ms-2"
            style="transform: translateY(-130%)"
        >
            <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
                >Only favorites</label
            >
        </div>
        {% for project in projects %}
        <div class="px-2">
            <div class="card mb-3 rounded-4 bg-body-tertiary overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a
                            class="col-md-4"
                            href="{% url 'editor' project.name %}"
                        >
                            <img
                                src="{{ project.preview.url }}"
                                alt="{{ project.name }}"
                                class="img-fluid"
                            />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-flex gap-1">
                                <div class="d-flex flex-column">
                                    <h1 class="fw-bolder">
                                        {{ project.name }}
                                    </h1>
                                    <p class="fw-light">
                                        {{project.description}}.
                                    </p>
                                    <p class="text-start">
                                        Last edited: {{ project.last_edited }}
                                    </p>
                                </div>

                                <!-- favorites-->
                                <div class="position-absolute end-0 top-0">
                                    {% if project.favorite == "true" %}
                                    <a
                                        href="{% url 'defavoreProject' project.name %}"
                                        class="btn btn-primary"
                                        ><i
                                            class="bi bi-star-fill text-warning"
                                        ></i
                                    ></a>
                                    {% else %}
                                    <a
                                        href="{% url 'favoreProject' project.name %}"
                                        class="btn btn-primary"
                                        ><i class="bi bi-star"></i
                                    ></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="d-flex gap-2">
                                <a
                                    role="button"
                                    href="{% url 'editor' project_name=project.name %}"
                                    class="btn btn-primary"
                                    >Open</a
                                >
                                <button
                                    class="btn btn-primary custom-btn shadow"
                                >
                                    <i class="bi bi-share"></i>
                                </button>
                                <button class="btn btn-primary custom-btn">
                                    <i class="bi bi-pencil-square"></i>
                                </button>

                                <!-- Delete Button -->
                                <button
                                    type="button"
                                    class="btn btn-outline-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal"
                                >
                                    <i class="bi bi-trash"></i>
                                </button>

                                <div
                                    class="modal fade"
                                    id="deleteModal"
                                    tabindex="-1"
                                    aria-labelledby="deleteModal"
                                    aria-hidden="true"
                                >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1
                                                    class="modal-title fs-5"
                                                    id="exampleModalLabel"
                                                >
                                                    Delete Project
                                                </h1>
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                                ></button>
                                            </div>
                                            <div class="modal-body">
                                                By clicking
                                                <i>Delete Project</i>, this
                                                project and all associated data
                                                will be irretrievably removed
                                                from the database and cannot be
                                                restored.
                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                    type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal"
                                                >
                                                    Cancel
                                                </button>
                                                <a
                                                    href="{% url 'deleteProject' project.name %}"
                                                    class="btn btn-danger"
                                                    >Delete Project</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex w-100 justify-content-end p-2">
        <div class="d-flex justify-content-between mx-3 py-1">
            <a
                class="dropdown-toggle d-flex align-items-center link-body-emphasis text-decoration-none py-2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <div
                    class="rounded-circle bg-primary me-2"
                    style="width: 32px; height: 32px"
                ></div>
                <strong class="me-2">Max</strong>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <div class="px-3 gap-1">
                    <p class="m-0">Max Mustermann</p>
                    <p class="text-secondary m-0">max.muster@example.com</p>
                </div>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li>
                    <button
                        class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#settings"
                    >
                        Settings
                    </button>
                </li>
                <li>
                    <a class="dropdown-item" href="/">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}
