{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <!-- Password Reset page -->
        <div class="min-vh-100 d-inline-flex flex-column justify-content-center align-items-center p-5 gap-2 flex-shrink-0"
             style="min-width: 30%">
            <h1 class="headline text-center mb-4">
                Reset Your Password
            </h1>
            <p class="text-center mb-4">Please enter a new password for your account.</p>
            
            <form method="POST">
                {% csrf_token %}
                
                {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                            <li>
                                <strong>{{ field.label }}:</strong>
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <!-- New Password -->
                <div class="form-floating mb-3">
                    <input
                        type="password"
                        class="form-control rounded-4"
                        id="{{ form.new_password.id_for_label }}"
                        name="new_password"
                        placeholder="New Password"
                    />
                    <label for="{{ form.new_password.id_for_label }}">New Password</label>
                </div>

                <!-- Password Confirmation -->
                <div class="form-floating mb-3">
                    <input
                        type="password"
                        class="form-control rounded-4"
                        id="{{ form.password_confirmation.id_for_label }}"
                        name="password_confirmation"
                        placeholder="Confirm New Password"
                    />
                    <label for="{{ form.password_confirmation.id_for_label }}">Confirm New Password</label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary rounded-5 fw-bold">Change Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}