{% extends 'base.html' %} {% load static %} {% block style %} {{ block.super }}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock style %} {% block body %}
<div class="d-flex flex-row">
    <div
        class="min-vh-100 d-inline-flex flex-column justify-content-center align-items-center p-5 gap-2 flex-shrink-0"
        style="min-width: 30%"
    >
        <h1 class="headline text-center mb-4">
            Join us at
            <br />
            Canvas!
        </h1>
        <div class="d-flex flex-column gap-1">
            <hr />
            <form
                class="d-flex flex-column"
                method="POST"
                action="{% url 'register' %}"
            >
                {% csrf_token %} {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %} {% if field.errors %}
                        <li>
                            <strong>{{ field.label }}:</strong>
                            {% for error in field.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </li>
                        {% endif %} {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <div class="d-flex gap-2 mb-3">
                    <div class="form-floating w-50">
                        <input
                            type="text"
                            class="form-control rounded-4"
                            id="floatingFirstName"
                            name="first_name"
                            placeholder="First Name"
                            required
                        />
                        <label for="floatingFirstName">Fitst Name</label>
                    </div>
                    <div class="form-floating w-50">
                        <input
                            type="text"
                            class="form-control rounded-4"
                            id="floatingLastName"
                            name="last_name"
                            placeholder="Last Name"
                            required
                        />
                        <label for="floatingLastName">Last Name</label>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input
                        type="email"
                        class="form-control rounded-4"
                        id="floatingEmail"
                        name="email"
                        placeholder="name@example.com"
                        required
                    />
                    <label for="floatingEmail">E-Mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="password"
                        class="form-control rounded-4"
                        id="floatingPassword1"
                        name="password"
                        placeholder="Password"
                        required
                    />
                    <label for="floatingPassword1">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="password"
                        class="form-control rounded-4"
                        id="floatingPassword2"
                        name="password_confirmation"
                        placeholder="Repeat Password"
                        required
                    />
                    <label for="floatingPassword2">Confirm Password</label>
                </div>

                <button type="submit" class="btn btn-primary rounded-5 fw-bold">
                    Sign up
                </button>
            </form>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <p>
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </p>
        </div>
    </div>

    <!--Placeholder for a 3D scene-->
    <div
        id="loginBg"
        class="w-100 rounded-start-5 overflow-hidden"
        style="
            background-image: url('{% static 'img/loginPlaceholder.png' %}');
            background-size: cover;
            background-position: center;
            height: 100vh;
        "
    ></div>
</div>
{% endblock body %}
