#sidebar {
    width: 350px;
}

#canvas {
    width: calc(100% - 350px);
}

.key {
    padding: 10px 10px 3px 6px;
    font-size: 80%;
    border: 1px solid black;
    border-radius: 0.375rem;
}

.about-logo {
    height: 50px;
}

.custom-btn {
    --bs-btn-font-weight: 600;
    --bs-btn-bg: var(--bs-body-bg);
    --bs-btn-hover-border-color: var(--bs-secondary-bg);
    --bs-btn-border-color: var(--bs-body-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-secondary-bg);

    --bs-btn-active-color: var(--bs-border-color);
    --bs-btn-active-bg: var(--bs-border-color);
    --bs-btn-active-border-color: var(--bs-border-color);

    color: inherit !important;
    box-shadow: var(--bs-box-shadow-sm) !important;
}
